@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1> Welcome to Application2 in App Service Plan</h1>
    <h2>Have a nice day</h2>

    <h2>Page loaded at @DateTime.Now</h2>
</div>
